<button type="button" class="toggle-btn" (click)="sideShown = true">Filters</button>
<div class="filters" [class.side-shown]="sideShown">
  <button type="button" class="close-side-btn" (click)="sideShown = false">x</button>
  <h5>Danh Mục</h5>
  <form *ngIf="showFilters">
    <div class="category-filter filter-wrapper" *ngFor='let filter of categories'>
      <label class="fake-checkbox">
        <input type="checkbox" checked (change)='onInputChange($event, filter, "category")'>
        <span class="square"><span class="fill"></span></span>
        <span class="label">{{filter.name}}</span>
        <span></span>
      </label>
    </div>
  </form>
  <h5>Giá</h5>
  <form *ngIf="showFilters">
    <div class="custom-filter filter-wrapper" *ngFor='let filter of priceFilters'>
      <label class="fake-checkbox">
        <input type="radio" name="price" [checked]='filter.checked' (click)='onInputChange($event, filter, "price")'>
        <span class="circle"><span class="fill"></span></span>
        <span class="label">{{filter.name}}</span>
        <span></span>
      </label>
    </div>
  </form>
  <h5>Hôn Nhân</h5>
  <form *ngIf="showFilters">
    <div class="custom-filter filter-wrapper" *ngFor='let filter of marriedFilters'>
      <label class="fake-checkbox">
        <input type="radio" name="sex" [checked]='filter.checked' (click)='onInputChange($event, filter, "married")'>
        <span class="circle"><span class="fill"></span></span>
        <span class="label">{{filter.name}}</span>
        <span></span>
      </label>
    </div>
  </form>
  <h5>Giới Tính</h5>
  <form *ngIf="showFilters">
    <div class="custom-filter filter-wrapper" *ngFor='let filter of sexFilters'>
      <label class="fake-checkbox">
        <input type="radio" name="sex" [checked]='filter.checked' (click)='onInputChange($event, filter, "sex")'>
        <span class="circle"><span class="fill"></span></span>
        <span class="label">{{filter.name}}</span>
        <span></span>
      </label>
    </div>
  </form>
</div>
